
# BEGIN clifMVC
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /clifland/development/clifMVC_blank/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /clifland/development/clifMVC_blank/index.php [L]
</IfModule>

# END clifMVC